@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Libre+Bodoni:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-item-container {
        @apply flex gap-2 pl-1 cursor-pointer p-2 rounded-md hover:scale-[1.08] hover:rounded-xl hover:drop-shadow-md duration-75 hover:bg-gray-200
    }
\    .nav-item-text {
        @apply pl-[6px] duration-75 font-normal text-black
    }
    .logo {
        font: 700 1.5rem 'Libre Bodoni', serif;
        color: black
    }
    .header {
        font: 600 1.5rem 'Poppins', serif;
    }
} 